# Bot config
BOT_TOKEN = ABCDEFGHIJKLMNOPQRSTUVWXYZ.abcdefghijklmnopqrstuvwxyz.1234567890
CLIENT_ID = 12345678901234567890

# Bot Activicty Status
#online, idle dnd, invisible
BOT_STATUS = online

# Activity Type
ACTIVITY_TYPE =COMPETING
ACTIVITY_NAME =the Discord Bot Games!

#MongoDB Config
MONGODB_URI = mongodb+srv://username:password@cluster0.mongodb.net/myFirstDatabase?retryWrites=true&w=majority

# Voice Channel (Global - bot can only be in one voice channel)
VOICE_CHANNEL_ID = 12345678901234567890
